<div class="col-lg-7" id="place_index">

  <div class="card">
    <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
    <div class="card-body">
      <h4 class="card-title">メンバー情報</h4>
      <p class="card-text">
        あなたの会社のメンバーを表示しています<br>
        編集権限を与えるか選択してください。
      </p>

       <%= render 'index', members: @members %>

    </div>
  </div>
</div>