<h1>TREE</h1>

     <%  @machines.each do |machine|  %>
        <%= link_to machine.name, machine_path(machine),  class: "btn btn-sm btn-info"%><br>
         <% m=machine %>
         <% while m.parent.kind == 0 do %>
              <%= m.parent.name %><br>
              <% m=m.parent %>
          <% end %>

             <%= m.parent.name %><br>


     <% end %>