
<div class="row mt-5">

  <div class="col-lg-5">
    <%= render 'form', box: @box %>
  </div>
  <div class="col-lg-auto">
  </div>

  <div class="col-lg-5">
    <%= render 'index', boxes: @boxes %>
  </div>
</div>