<h1>Boxes#show</h1>

<h1>分電盤</h1>
<p>場所</p>
<%= @box.name %>
<p>場所</p>
No.<%= @box.place_id %>

<h1>ブレーカー作成</h1>

<%= render 'brakers/form', braker: @braker %>

<h1>ブレーカー一覧</h1>

<%= render 'brakers/index', brakers: @brakers %>