
<div class="row mt-5">
  <div class="col-lg-8 top mx-auto text-center">
    <h1 class="border-bottom">POWER SYSTEM MANAGEMENT</h1>
    <h3 class="mt-3"> eManager provides the following functions for users</h3>
    <div class="row mt-5">
      <div class="col-lg-11 pl-2 ml-auto text-left">
        <h5 class="mt-1">・calculating the rated current of devises</h5>
        <h5 class="mt-3">・browsing or alterating the information regarding the power system</h5>
        <h5 class="mt-3">・safeguard against the electrical accidents</h5>
        <h5 class="mt-3">・Saving your trable to actually confirm brakers on the spot</h5>
      </div>
    </div>
  </div>
</div>
