
<div class="card h-100">
  <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title text-light"><%= @box.name %></h4>
    <p><%= link_to '詳細へ移動', box_path(@box), class: "btn btn-sm btn-outline-info pull-right"%></p>

        <% if @box.relation.present? %>
        親
        <p class="text-light"><%= @box.relation.braker.box.name %></p>
        <% end %>
        場所
        <p class="text-light"><%= @box.place.place %></p>

  </div>
</div>
