  <div class="row mt-5" id="0">
    <div class="col-lg-4" id="show">
      <%= render 'card'%>
    </div>
    <div class="col-lg-8" id="index">
      <h5>変電所一覧</h5>
      <%= render 'jsindex', boxes: @boxes %>
    </div>
  </div>
  
  <!--最大で５世代の登録。ajaxで子要素を展開する受け皿を用意-->
  <div class="row mt-5" id="1">
    <div class="col-lg-4" id="show"></div>
    <div class="col-lg-8" id="index"></div>
  </div>

  <div class="row mt-5" id="2">
    <div class="col-lg-4" id="show"></div>
    <div class="col-lg-8" id="index"></div>
  </div>

  <div class="row mt-5" id="3">
    <div class="col-lg-4" id="show"></div>
    <div class="col-lg-8" id="index"></div>
  </div>

  <div class="row mt-5" id="4">
    <div class="col-lg-4" id="show"></div>
    <div class="col-lg-8" id="index"></div>
  </div>


  <div class="row mt-5" id="5">
    <div class="col-lg-4" id="show"></div>
    <div class="col-lg-8" id="index"></div>
  </div>