


<div class="card">
  <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title">編集</h4>
    <p class="card-text">
      登録場所の情報を変更できます。
    </p>
        <%= form_with model:place,local:true do |f| %>

            <%= f.label :place %>
            <%= f.text_field :place, class: 'form-control' %>

            <%= f.submit class: 'btn btn-primary mt-3' %>

        <% end %>

  </div>
</div>

