<table class='table table-bordered'>

  <thead>
     <tr>
       <th>場所一覧</th>
       <th></th>
       <th></th>
       <!--<th>本の感想</th>-->
     </tr>
  </thead>

  <tbody>
     <%  places.each do |place|  %>
       <tr>
         <td>
           <%= link_to place.place, place_path(place), remote: true, class: "btn btn-sm btn-outline-secondary"%>
        </td>
        <td>
           <%= link_to 'Edit', edit_place_path(place), remote: true,  class: "btn btn-sm btn-outline-info"%>
        </td>
         <td>
            <%= link_to 'Destroy', place_path(place), remote: true, method: :delete, class: "btn btn-sm btn-outline-warning"%>
        </td>
       </tr>
     <% end %>
  </tbody>

</table>