
    <div class="card">
      <!--<img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">-->
      <div class="card-body">
        <h4 class="card-title">詳細</h4>
        <p class="card-text">
          現在登録されている場所情報の詳細です。
        </p>
        名前
        <p class="text-light"><%= place.place %></p>
      </div>
    </div>
  </div>
