<footer>
  <div class=' py-3 footer bg-dark'>
    <div class='row'>
      <div class='mx-auto'>
        <p><%= link_to "Dam-san","https://qiita.com/dam-san"%></p>
      </div>
    </div>
  </div>
</footer>